<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card routerLink="/recipe/1">
    <img alt="adobo" src="assets/img/Adobo.jpg" />
    <ion-card-header>
      <ion-card-title>Adobo</ion-card-title>
      <ion-card-subtitle>Filipino Dish</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      It is a dish composed of pork slices cooked in soy sauce, vinegar, and garlic.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/recipe/2">
    <img alt="tinola" src="assets/img/Tinola.jpg" />
    <ion-card-header>
      <ion-card-title>Tinola</ion-card-title>
      <ion-card-subtitle>Filipino Dish</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    Chicken Tinola is a Filipino soup dish. It involves cooking chicken pieces in ginger broth.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/recipe/3">
    <img alt="sinigang" src="assets/img/Sinigang.jpg" />
    <ion-card-header>
      <ion-card-title>Sinigang</ion-card-title>
      <ion-card-subtitle>Filipino Dish</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Sinigang is a Filipino soup or stew characterized by its sour and savory taste.
    </ion-card-content>
  </ion-card>
</ion-content>
